html, body {
	margin:0px;
	padding:0px;
	height:100%;
background-color: #D9A3B5;  
}

html {
		/* Standard text-settings below */
	font-size: 1em;
    line-height: 1.4em;
}




body {
	font-family: 'Playfair Display',sans-serif
       
	
}

h1{font-family:'Playfair Display',sans-serif;
font-weight:400em; 
    text-shadow: 27px 34px 3px aquamarine;
    color:rgb(212,132,167);
    position: relative; 
    top:78px; 
    right;-56px;
}

p.pink{
    
    font-family:'Playfair Display',sans-serif;
font-weight:900em; 
    text-shadow: 2px 2px 5px, rgb(212,132,167); 
    color: rgb(212,132,167); 
    color: radial-gradient(circle, rgba(212,132,167,1) 21%, rgba(148,187,233,1) 100%); 
    position:absolute; 
   top: 56px; 
    right:-19px; 
}

.enter{
   position: relative; 
    bottom:-107px; 
    left:-507px; 
    text-shadow: 27px 34px 3px;
    font-size: 56px;
}

.must {
   position: relative;  
    left: -328px; 
    bottom: -267px;
    color: rgb(212,132,167);
    text-shadow: 67px 74px 3px;
    font-size: 26px;
}

.otherwise{
   position: relative;
     right: -68px; 
    bottom: -465px; 
    font-size: 26px;
    text-shadow: 67px 74px 3px;
}

p{ 
    width:300px; 
    margin: 0px;
    
}
#container {
	border:1px; 
    width:600px; 
    margin:auto;
    position: relative; 
    bottom: -789px;
}















